body {
    background-image: url("res/skel.jpg");    
}

.header {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 50px;
}

.header > h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 5px 5px #ff6400;
    color: black;
}

div.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    gap: 100px;
}

div.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* EXTRA CREDIT */
.polaroid:hover {
    animation: gelatine 0.5s infinite;
  }
  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

.candy {
    width: 198px;
    height: 200px;
    /* border-radius: 10px; */
    margin: 2px;
    background-image: 
        radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #9725, #9725),
        url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
        url(https://i.ibb.co/m4sGRmK/pexels-pixabay-247431.jpg);
    background-size: auto, auto, auto, cover;
    background-repeat: repeat;
    background-position: center;
    filter: blur(0.05em) saturate(0.7) contrast(1.5) brightness(1.2);
}

.pin {
    position: absolute;
    top: 10px;
    left: 90px;
}
  
div.container {    
    text-align: center;
    padding: 10px 20px;
}


div.container > p {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

.footer {
    display: flex;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 50px;
}

.footer > h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 5px 5px #ff6400;
    color: black;
}

#leftimg {
    width: 80px;
    height: 80px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#rightimg {
    width: 80px;
    height: 80px;
}